<% content_for :title do %>
  Words <%= @iws.map { |iw| iw.name}.join(', ') %>
<% end %>
<% content_for :intro do %>
  <h2>Words: <%= @iws.map { |iw| iw.name}.join(', ') %></h2>
  <p class="intro">
    This page contains the time series and other aggregated data for the requested words.
  </p>
<% end %>
<div id="timeline_div" style='width: 600px; height: 200px;'  >
  <%= image_tag "spin.gif" , :alt => "Loading..." %>
</div>
<% content_for :footer do %>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">

    // Load the Visualization API and the relevant packages
    google.load('visualization', '1', {'packages':['annotatedtimeline', 'imagesparkline', 'piechart']});

    // Set a callback to run when the API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that fires as many Gviz requests as needed to populate
    // the page graphs.
    function drawChart() {
      // var query = new google.visualization.Query(
      //   '<%= url_for :escape => false, :only_path => false, :controller => :gviz, :action => :poptrend, :id => @iws.map { |iw| iw.id}.join("-"), :params => { :entity => "count"} %>');
      // query.setTimeout(15);          
      // query.send(sparklineResponse('sparkline_div'));
      // 
      // <% if @iws.size > 1 -%>
      // var query = new google.visualization.Query(
      //   '<%= url_for :escape => false, :only_path => false, :controller => :gviz, :action => :marketshare, :id => @iws.map { |iw| iw.id}.join("-"), :params => { :entity => "count", :period => "7d"} %>');
      // query.setTimeout(15);          
      // query.send(pieChartResponse('piechart7d_div', 'right', '7-day Media share'));
      // 
      // var query = new google.visualization.Query(
      //   '<%= url_for :escape => false, :only_path => false, :controller => :gviz, :action => :marketshare, :id => @iws.map { |iw| iw.id}.join("-"), :params => { :entity => "count", :period => "2w"} %>');
      // query.setTimeout(15);          
      // query.send(pieChartResponse('piechart2w_div', 'right', '2-Week Media share'));
      // 
      // var query = new google.visualization.Query(
      //   '<%= url_for :escape => false, :only_path => false, :controller => :gviz, :action => :marketshare, :id => @iws.map { |iw| iw.id}.join("-"), :params => { :entity => "count", :period => "1m"} %>');
      // query.setTimeout(15);          
      // query.send(pieChartResponse('piechart1m_div', 'right', '1-Month Media share'));
      // 
      // var query = new google.visualization.Query(
      //   '<%= url_for :escape => false, :only_path => false, :controller => :gviz, :action => :marketshare, :id => @iws.map { |iw| iw.id}.join("-"), :params => { :entity => "count", :period => "3m"} %>');
      // query.setTimeout(15);          
      // query.send(pieChartResponse('piechart3m_div', 'right', '3-Month Media share'));
      // <% end -%>
      // 
      // <% if @focuspage -%>
      // var query = new google.visualization.Query(
      //   '<%= url_for :escape => false, :only_path => false, :controller => :gviz, :action => :ts, :id => @iws.map { |iw| iw.id}.join("-"), :params => { :entity => "count", :interval => "6m", :pages => @focuspage } %>');
      // query.setTimeout(15);          
      // query.send(timelineResponse('timeline_div2'));
      // <% end -%>
      
      var query = new google.visualization.Query(
        '<%= url_for :escape => false, :only_path => false, :controller => :gviz, :action => :ts, :id => @iws.map { |iw| iw.id}.join("-"), :params => { :entity => "count", :interval => "6m" } %>');
      query.setTimeout(15);
      query.send(timelineResponse('timeline_div'));
    }
    
    function initResponseArea(response, id) {
      var elem = document.getElementById(id);
      while (elem.firstChild) { elem.removeChild(elem.firstChild); }
      if (response.isError()) {
        var timeout = false;
        errorReasons = response.getReasons()
        for (var i = 0, l = errorReasons.length; i < l; i++) {
          if (errorReasons[i] == 'timeout') {
            timeout = true;
            break;
          }
        }
        if (timeout) {
          elem.innerHTML = '<span class="qs-description">This visualization is taking a long time, please wait...</span>';
        } else {
         elem.innerHTML = '<span class="qs-description">Error in query: ' + response.getMessage() + '</span>';
        }
      }
      return !response.isError();
    }

    function timelineResponse(id) {
      return function(response) {
        if (!initResponseArea(response, id)) {
          return;
        }

        var data = response.getDataTable();
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById(id));
        chart.draw(data);
      };
    }

    // function sparklineResponse(id) {
    //   return function(response) {
    //     if (!initResponseArea(response, id)) {
    //       return;
    //     }
    // 
    //     var data = response.getDataTable();    
    //     var chart = new google.visualization.ImageSparkLine(document.getElementById(id));
    //     chart.draw(data, {width: 120, height: <%= @iws.size * 30 %>, showAxisLines: true,  showValueLabels: false, labelPosition: 'left'});           
    //   };
    // }
    // 
    // function pieChartResponse(id, legend, title) {
    //   return function(response) {
    //     if (!initResponseArea(response, id)) {
    //       return;
    //     }
    // 
    //     var data = response.getDataTable();    
    //     var chart = new google.visualization.PieChart(document.getElementById(id));
    //     chart.draw(data, {width: 250, height: 200, is3D: true, legend: legend, title: title });
    //   };
    // }

  </script>
<% end %>