<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="author" lang="en" content="Riccardo Govoni" />
    <meta name="copyright" lang="en" content="&copy; 2008-2009 BayesFor" />
    <meta name="description" content="..." />
    <meta name="keywords" content="..." />
    <meta name="robots" content="all,follow" />
    <%= stylesheet_link_tag "template", "quasar", "jquery-ui-1.7.2.custom.css" %>
    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <%= javascript_include_tag "jquery.js", "jquery-ui-1.7.2.custom.min.js", "jquery.dimensions.pack.js", "jquery.autocomplete.js", "quasar.js" %>    
    
    <title>Bayes-Swarm :: <%= yield(:title) || "Bayesian Web Spidering" %></title>
  </head>
  <body>
    <div id="layout">
      
      <div id="header">        
        <%= image_tag "bayes_logo_small.png", :style => "float:left" %>
        <h1 id="logo"><%= link_to "Bayes-Swarm", root_path %></h1>
      </div>
      <div id="nav" class="box">
        <ul>
          <li <%= controller.controller_name == 'home' && controller.action_name == "intro" ? "id=\"active\"" : ""%>>
            <%= link_to "Home", root_path %>
          </li>
          <li <%= controller.controller_name == 'intword' && controller.action_name == 'create' ? "id=\"active\"" : ""%>>
            <%= link_to "Analyze", :controller => 'intword', :action => 'create' %>
          <li>
          <li <%= controller.controller_name == 'info' && controller.action_name == 'developers' ? "id=\"active\"" : "" %>>
            <%= link_to "For Developers", :controller => 'info', :action => 'developers' %>
          </li>
          <li <%= controller.controller_name == 'info' && controller.action_name == 'contacts' ? "id=\"active\"" : "" %>>
            <%= link_to "Contacts", :controller => 'info', :action => 'contacts' %>
          </li>          
          <li><a href="http://www.bayes-swarm.com">Old Website</a></li>          
          <li><a href="http://www.bayesfor.eu">BayesFor Association</a></li>
				</ul>
      </div> 
      
      <div id="container" class="box">          
          <div id="intro">
            <div id="intro-in">
              <%= yield :intro %>
            </div>
          </div>
          <div id="obsah" class="content box">
          <div class="in">
            <%= yield %>
            <div class="clear"></div>
          
            </div>
        </div>
        <!-- end/ Obsah stránek-->
        
  
      
      </div>
      
      <div id="footer" class="shadow">
        <div class="f-left">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/it/">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.5/it/88x31.png" />
          </a><br />
          <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">
            Bayes-Swarm datasets
            </span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.bayesfor.eu" property="cc:attributionName" rel="cc:attributionURL">BayesFor</a> <br />
            are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/it/">Creative Commons Attribution-Share Alike 2.5 Italy License</a>.
        </div>
        <div class="f-right">Website template by <a href="http://www.davidkohout.cz">David Kohout</a><br />
          Photos by <a href="http://www.jaconatura.it/">JacoNatura.it</a></div>
      </div>
    </div>
    <!-- end/ Layout stránek -->
    <%= yield :footer %>
  </body>
</html>
